@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }
}

@layer components {
    .sidenav-item {
        @apply flex items-center py-3 px-3 mx-3 gap-6 cursor-pointer hover:bg-[#e7f1fe] text-gray-600 font-medium transition-all rounded-2xl;
    }
    .sidenav-item-active {
        @apply sidenav-item bg-[#e7f1fe] text-[#2f78f9] rounded-2xl;
    }
    .btn-select {
        @apply cursor-default relative w-full rounded-md border border-gray-300 bg-white pl-3 pr-10 py-2 text-left  transition ease-in-out duration-150;
    }
    .main-container {
        @apply flex flex-col gap-4 h-[90vh] py-4 overflow-y-scroll;
    }
    .main-header {
        @apply w-full bg-white rounded-md shadow-sm p-3 flex justify-between;
    }
    .main-body {
        @apply w-full h-full bg-white rounded-md shadow-sm p-3 mb-4 overflow-y-scroll;
    }
    .flex-center-x {
        @apply flex justify-center;
    }

    .flex-center-y {
        @apply flex items-center;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .form-check {
        display: flex;
    }
    .btn-icon {
        @apply flex-center-y justify-center gap-1;
    }
}

.before-bg-file:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s;
}

.before-bg-file:hover:before {
    opacity: 0.1;
}
